.add-post {
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.45);
  background-color: $secondary;
  border-radius: 5px;

  @include breakpoint($mobile-bp) {
    padding: 1.5rem;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__textarea {
    display: block;
    width: 70%;
    height: 2.6rem;
    overflow: hidden;

    border: none;
    background-color: transparent;
    resize: none;

    font-family: inherit;
    font-size: 1.5rem;
    color: $white;

    &::placeholder {
      color: #d2d2d2;
    }
  }

  &__form-actions {
    display: flex;
    gap: 1.5rem;
  }

  &__file,
  &__send {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;

    @include breakpoint($mobile-bp) {
      width: 3.7rem;
      height: 3.7rem;
    }
  }

  &__file {
    background: #EBEBEB url(../images/add-photo.svg) center no-repeat;

    input {
      display: none;
    }

    &:hover {
      background-color: darken(#EBEBEB, 10%);
    }
  }

  &__send {
    background-color: $blue;
    border: none;

    &:hover {
      background-color: darken($blue, 5%);
    }
  }
}