.subnav {
  display: none;
  background-color: $blue;
  width: 16.5rem;
  padding: .5rem 0;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;

  @include breakpoint($tabled-bp) {
    position: static;

    width: 100%;
    padding-left: 1rem;

    background-color: transparent;
    box-shadow: none;
  }

  &__link {
    display: block;
    padding: .45rem 1.2rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: $white;
    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: darken($blue, 5%);
    }

    @include breakpoint($tabled-bp) {
      padding-left: 0;
      padding-right: 0;

      font-size: 1.5rem;

      &:hover {
        background: none;
      }
    }
  }
}